{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="2F37D261D506735A29B007648A9D2F5A" />
    <meta name="google-site-verification" content="inUtDBJhcD2QR_DHOhSeVSKpckcSuA4mc3ydzkUC7Hc" />
    <meta name="description" content="Learn how to instantly enter your code and link any device at tubi.tv/activate. Simple steps to activate Tubi TV and watch free movies and shows in minutes — no fees, no hassle.">
    <meta name="keywords" content="tubi.tv/activate, activate tubi tv, enter tubi tv code, link device on tubi, activate tubi on roku, activate tubi on firestick, tubi tv activation code, tubi tv setup 2025">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
